.profile-page{

min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f1f5f9;
padding:20px;

}



.profile-card{

background:white;
width:400px;
max-width:90%;
padding:35px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.15);

}



.profile-title{

text-align:center;
color:#2563eb;
margin-bottom:25px;

}



.profile-info p{

font-size:18px;
color:#334155;
margin:15px 0;

}



.dashboard-btn{

display:block;
text-align:center;
margin-top:25px;
background:#2563eb;
color:white;
padding:12px;
border-radius:8px;
text-decoration:none;

}



.dashboard-btn:hover{

background:#1d4ed8;

}



@media(max-width:600px){

.profile-card{

padding:25px;

}


.profile-info p{

font-size:16px;

}

}